//Mini room style
.mini-room
  width: 250px
  height: 150px
  padding: 1px
  background: #FFFFFF
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
  border-radius: 4px
.mini-room__img
  border-radius: 4px 4px 0 0
  width: 100%
  height: 100%